<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects2" class="content-section">
                <div class="section-heading">
                    <h1>Body Attentiveness  <br><em>Journal</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td>Date</td>
                                    <td>Physical cues</td>
                                    <td>Level 1- 10</td>
                                    <td>Strategy for relieving tension</td>
                                  </tr>
                                  <tr>
                                    <td>
<button  style="background-color: transparent;border:none;" id="newbtn1"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc1" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt1" name="text" cols="8" rows="1" class="form-control"></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn2"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc2" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt2" name="text" cols="8" rows="1" class="form-control"></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn3"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc3" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt3" name="text" cols="8" rows="1" class="form-control"></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn4"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc4" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt4" name="text" cols="8" rows="1" class="form-control"></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn5"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc5" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt5" name="text" cols="8" rows="1" class="form-control"></textarea>
</form>

                                    </td>
                                    <td>
<button  style="background-color: transparent;border:none;" id="newbtn6"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc6" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt6" name="text" cols="10" rows="1" class="form-control" ></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn7"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc7" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt7" name="text" cols="10" rows="1" class="form-control" ></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn8"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc8" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt8" name="text" cols="10" rows="1" class="form-control" ></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn9"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc9" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt9" name="text" cols="10" rows="1" class="form-control" ></textarea>
</form>

<button  style="background-color: transparent;border:none;" id="newbtn10"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="newc10" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt10" name="text" cols="10" rows="1" class="form-control"></textarea>
</form>
                                    </td>
                                    <td>
<button  style="background-color: transparent;border:none;" id="newbtn11"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc11" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt11" name="text" cols="5" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn12"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc12" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt12" name="text" cols="5" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn13"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc13" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt13" name="text" cols="5" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn14"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc14" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt14" name="text" cols="5" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn15"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc15" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt15" name="text" cols="5" rows="1" class="form-control" ></textarea>
</form>
                                    </td>
                                    <td>
<button  style="background-color: transparent;border:none;" id="newbtn16"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc16" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt16" name="text" cols="25" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn17"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc17" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt17" name="text" cols="25" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn18"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc18" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt18" name="text" cols="25" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn19"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc19" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt19" name="text" cols="25" rows="1" class="form-control" ></textarea>
</form>



<button  style="background-color: transparent;border:none;" id="newbtn20"><i class="fa fa-microphone" aria-hidden="true"></i></button>

<div id="newc20" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt20" name="text" cols="25" rows="1" class="form-control" ></textarea>
</form>
                                    </td>
                                  </tr>
                                </table>
                            </br>
                          <ul>
                          <li>To re-emphasise: as you get used to using these devices, or doing your own
assessments, you will become more aware of your bodily cues that indicate when
you are tensing up</li> 
<li>With your improved awareness of what is happening to you, both physically and
mentally, you will be able to take steps to manage your tension and also induce
relaxation. </li> 
                        </ul>
                        </div>
                    </div>
                </div>            
            </section>               
</div>

<script>

var newtxt1,
newtxt2,
newtxt3,
newtxt4,
newtxt5,
newtxt6,
newtxt7,
newtxt8,
newtxt9,
newtxt10,
newtxt11,
newtxt12,
newtxt13,
newtxt14,
newtxt15,
newtxt16,
newtxt17,
newtxt18,
newtxt19,
newtxt20;

    var newbtn1,
newbtn2,
newbtn3,
newbtn4,
newbtn5,
newbtn6,
newbtn7,
newbtn8,
newbtn9,
newbtn10,
newbtn11,
newbtn12,
newbtn13,
newbtn14,
newbtn15,
newbtn16,
newbtn17,
newbtn18,
newbtn19,
newbtn20;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;


      newbtn1 = document.getElementById("newbtn1");
newbtn2 = document.getElementById("newbtn2");
newbtn3 = document.getElementById("newbtn3");
newbtn4 = document.getElementById("newbtn4");
newbtn5 = document.getElementById("newbtn5");
newbtn6 = document.getElementById("newbtn6");
newbtn7 = document.getElementById("newbtn7");
newbtn8 = document.getElementById("newbtn8");
newbtn9 = document.getElementById("newbtn9");
newbtn10 = document.getElementById("newbtn10");
newbtn11 = document.getElementById("newbtn11");
newbtn12 = document.getElementById("newbtn12");
newbtn13 = document.getElementById("newbtn13");
newbtn14 = document.getElementById("newbtn14");
newbtn15 = document.getElementById("newbtn15");
newbtn16 = document.getElementById("newbtn16");
newbtn17 = document.getElementById("newbtn17");
newbtn18 = document.getElementById("newbtn18");
newbtn19 = document.getElementById("newbtn19");
newbtn20 = document.getElementById("newbtn20");

      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");


      newtxt1 = document.getElementById("newtxt1");
newtxt2 = document.getElementById("newtxt2");
newtxt3 = document.getElementById("newtxt3");
newtxt4 = document.getElementById("newtxt4");
newtxt5 = document.getElementById("newtxt5");
newtxt6 = document.getElementById("newtxt6");
newtxt7 = document.getElementById("newtxt7");
newtxt8 = document.getElementById("newtxt8");
newtxt9 = document.getElementById("newtxt9");
newtxt10 = document.getElementById("newtxt10");
newtxt11 = document.getElementById("newtxt11");
newtxt12 = document.getElementById("newtxt12");
newtxt13 = document.getElementById("newtxt13");
newtxt14 = document.getElementById("newtxt14");
newtxt15 = document.getElementById("newtxt15");
newtxt16 = document.getElementById("newtxt16");
newtxt17 = document.getElementById("newtxt17");
newtxt18 = document.getElementById("newtxt18");
newtxt19 = document.getElementById("newtxt19");
newtxt20 = document.getElementById("newtxt20");


      newbtn1.addEventListener("click", function () {
        newbtn1.disabled = true;
        newbtn1.style.color="red";
        newtxt1.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn1.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn1.disabled = false;
            newbtn1.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt1.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn1.disabled = false;
            newbtn1.style.color="black";
            newtxt1.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn2.addEventListener("click", function () {
        newbtn2.disabled = true;
        newbtn2.style.color="red";
        newtxt2.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn2.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn2.disabled = false;
            newbtn2.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt2.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn2.disabled = false;
            newbtn2.style.color="black";
            newtxt2.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn3.addEventListener("click", function () {
        newbtn3.disabled = true;
        newbtn3.style.color="red";
        newtxt3.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn3.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn3.disabled = false;
            newbtn3.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt3.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn3.disabled = false;
            newbtn3.style.color="black";
            newtxt3.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn4.addEventListener("click", function () {
        newbtn4.disabled = true;
        newbtn4.style.color="red";
        newtxt4.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn4.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn4.disabled = false;
            newbtn4.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt4.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn4.disabled = false;
            newbtn4.style.color="black";
            newtxt4.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn5.addEventListener("click", function () {
        newbtn5.disabled = true;
        newbtn5.style.color="red";
        newtxt5.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn5.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn5.disabled = false;
            newbtn5.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt5.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn5.disabled = false;
            newbtn5.style.color="black";
            newtxt5.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn6.addEventListener("click", function () {
        newbtn6.disabled = true;
        newbtn6.style.color="red";
        newtxt6.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn6.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn6.disabled = false;
            newbtn6.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt6.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn6.disabled = false;
            newbtn6.style.color="black";
            newtxt6.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn7.addEventListener("click", function () {
        newbtn7.disabled = true;
        newbtn7.style.color="red";
        newtxt7.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn7.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn7.disabled = false;
            newbtn7.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt7.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn7.disabled = false;
            newbtn7.style.color="black";
            newtxt7.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn8.addEventListener("click", function () {
        newbtn8.disabled = true;
        newbtn8.style.color="red";
        newtxt8.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn8.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn8.disabled = false;
            newbtn8.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt8.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn8.disabled = false;
            newbtn8.style.color="black";
            newtxt8.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn9.addEventListener("click", function () {
        newbtn9.disabled = true;
        newbtn9.style.color="red";
        newtxt9.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn9.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn9.disabled = false;
            newbtn9.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt9.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn9.disabled = false;
            newbtn9.style.color="black";
            newtxt9.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn10.addEventListener("click", function () {
        newbtn10.disabled = true;
        newbtn10.style.color="red";
        newtxt10.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn10.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn10.disabled = false;
            newbtn10.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt10.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn10.disabled = false;
            newbtn10.style.color="black";
            newtxt10.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn11.addEventListener("click", function () {
        newbtn11.disabled = true;
        newbtn11.style.color="red";
        newtxt11.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn11.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn11.disabled = false;
            newbtn11.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt11.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn11.disabled = false;
            newbtn11.style.color="black";
            newtxt11.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn12.addEventListener("click", function () {
        newbtn12.disabled = true;
        newbtn12.style.color="red";
        newtxt12.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn12.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn12.disabled = false;
            newbtn12.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt12.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn12.disabled = false;
            newbtn12.style.color="black";
            newtxt12.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn13.addEventListener("click", function () {
        newbtn13.disabled = true;
        newbtn13.style.color="red";
        newtxt13.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn13.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn13.disabled = false;
            newbtn13.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt13.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn13.disabled = false;
            newbtn13.style.color="black";
            newtxt13.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn14.addEventListener("click", function () {
        newbtn14.disabled = true;
        newbtn14.style.color="red";
        newtxt14.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn14.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn14.disabled = false;
            newbtn14.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt14.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn14.disabled = false;
            newbtn14.style.color="black";
            newtxt14.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn15.addEventListener("click", function () {
        newbtn15.disabled = true;
        newbtn15.style.color="red";
        newtxt15.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn15.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn15.disabled = false;
            newbtn15.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt15.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn15.disabled = false;
            newbtn15.style.color="black";
            newtxt15.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn16.addEventListener("click", function () {
        newbtn16.disabled = true;
        newbtn16.style.color="red";
        newtxt16.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn16.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn16.disabled = false;
            newbtn16.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt16.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn16.disabled = false;
            newbtn16.style.color="black";
            newtxt16.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn17.addEventListener("click", function () {
        newbtn17.disabled = true;
        newbtn17.style.color="red";
        newtxt17.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn17.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn17.disabled = false;
            newbtn17.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt17.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn17.disabled = false;
            newbtn17.style.color="black";
            newtxt17.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn18.addEventListener("click", function () {
        newbtn18.disabled = true;
        newbtn18.style.color="red";
        newtxt18.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn18.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn18.disabled = false;
            newbtn18.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt18.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn18.disabled = false;
            newbtn18.style.color="black";
            newtxt18.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn19.addEventListener("click", function () {
        newbtn19.disabled = true;
        newbtn19.style.color="red";
        newtxt19.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn19.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn19.disabled = false;
            newbtn19.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt19.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn19.disabled = false;
            newbtn19.style.color="black";
            newtxt19.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });









      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
newbtn1.disabled=false;
newbtn1.style.color="black";


newbtn2.disabled=false;
newbtn2.style.color="black";


newbtn3.disabled=false;
newbtn3.style.color="black";


newbtn4.disabled=false;
newbtn4.style.color="black";


newbtn5.disabled=false;
newbtn5.style.color="black";


newbtn6.disabled=false;
newbtn6.style.color="black";


newbtn7.disabled=false;
newbtn7.style.color="black";


newbtn8.disabled=false;
newbtn8.style.color="black";


newbtn9.disabled=false;
newbtn9.style.color="black";


newbtn10.disabled=false;
newbtn10.style.color="black";


newbtn11.disabled=false;
newbtn11.style.color="black";


newbtn12.disabled=false;
newbtn12.style.color="black";


newbtn13.disabled=false;
newbtn13.style.color="black";


newbtn14.disabled=false;
newbtn14.style.color="black";


newbtn15.disabled=false;
newbtn15.style.color="black";


newbtn16.disabled=false;
newbtn16.style.color="black";


newbtn17.disabled=false;
newbtn17.style.color="black";


newbtn18.disabled=false;
newbtn18.style.color="black";


newbtn19.disabled=false;
newbtn19.style.color="black";


newbtn20.disabled=false;
newbtn20.style.color="black";






        document.getElementById('newc1').style.display = 'block';

document.getElementById('newc2').style.display = 'block';

document.getElementById('newc3').style.display = 'block';

document.getElementById('newc4').style.display = 'block';

document.getElementById('newc5').style.display = 'block';

document.getElementById('newc6').style.display = 'block';

document.getElementById('newc7').style.display = 'block';

document.getElementById('newc8').style.display = 'block';

document.getElementById('newc9').style.display = 'block';

document.getElementById('newc10').style.display = 'block';

document.getElementById('newc11').style.display = 'block';

document.getElementById('newc12').style.display = 'block';

document.getElementById('newc13').style.display = 'block';

document.getElementById('newc14').style.display = 'block';

document.getElementById('newc15').style.display = 'block';

document.getElementById('newc16').style.display = 'block';

document.getElementById('newc17').style.display = 'block';

document.getElementById('newc18').style.display = 'block';

document.getElementById('newc19').style.display = 'block';

document.getElementById('newc20').style.display = 'block';



        document.getElementById('warning').style.display = 'none';
      }

  </script>