<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>How you can learn to <em>use biofeedback</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <li>Biofeedback instruments can enhance your awareness of tension indicators. If you are the sort of person who likes to have concrete evidence then you will value a self- monitoring biofeedback device. </li>
                            <li>There is a range of devices on the market. 
                                <ol>
                                    <li>They will provide you with tangible measures of your body’s physical
changes and help you learn to relax and give a source of confidence in your ability to change your tension levels. </li>
                                    <li>Generally, such devices measure the changes in your body / skin and emit
a series of sounds (or give you a visual scale measure) that changes, as your state becomes less tense. Using such a device means that you are able to perceive minute and gradual changes in your responses. </li>
                                </ol>
                            </li>
                            <li>By monitoring the change in sound (or visual indication) you can notice when you
do things that help you to reduce tension and relax. For example you become aware of your breathing and allow it to become gradually deeper and slower particularly on the out breath. In time you will learn to do this more efficiently and effectively and even trust that it is working when you do not have the biofeedback measure. This is your aim. </li>
                            <li>Tension monitoring: no instrument needed </li>
                            <li>Alternatively you may decide on a less technically aided and precise way to measure your state of agitation / relaxation</li>
                            <li>Without any equipment, you can periodically monitor your feeling of discomfort, arousal or tension based on your own scores using a scale of</li>
                            <li>You can assess the overall feeling of physical tension and you can assess the physical tension of various specific muscle groups throughout the body such as in the muscles of the shoulders, hands, arms, stomach, back, neck, face. </li>
                            <li>You can record your feelings and your scores in a daily log, sometimes referred
to as a ‘body attentiveness journal’.
                                <ol>
                                <li>Whenever you are anxious or become aware that you might be tense (e.g.
before a difficult meeting), become aware of your body’s tension indicators. </li>
                                <li>When you can, make a brief record of the circumstances, the place and
level of tension, what you did to manage it.</li>
                                <li>This way you are more alert to tension occurring and more likely to be able
to bring it down to acceptable levels. </li>
                                </ol>
                            </li>                     
            </section>
</div>
